
<div class="form-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&);">

  <div class="container">
    <div class="form-inputs">
      <%= simple_form_for [@buddy, @booking] do |f|%>
        <%= @buddy.name %>
        <p> <%= @buddy.description %> </p>
        <%= f.input :start_date %>
    	  <%= f.input :end_date %>
    	  <%= f.submit "book buddy", class: "btn btn-info"%>
      <% end %>
    </div>
     <h2><%= pluralize @buddy.reviews.size, "review" %></h2>
     <div id="reviews">
        <% if @buddy.reviews.blank? %>
          Be the first to leave a review for <%= @buddy.name %>
        <% else %>
          <% sum = 0 %>
          <% @buddy.reviews.each do |review| %>
            <% sum += review.stars.to_i %>
            <%= render 'reviews/show', review: review %>
          <% end %>
          <%= sum / @buddy.reviews.size.to_f %>
        <% end %>
        <%= render 'reviews/form', buddy: @buddy, review: @review %>
     </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 250px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" />


