<h2>My bookings</h2>
<% @bookings.each do |booking| %>

  <p><%= booking.status %></p>
  <%= link_to 'Cancel booking', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<br>
<br>

<% if @my_bookings != nil %>

	<h2>My buddies</h2>
	<% @my_bookings.each do |booking| %>
 	  <p><%= booking.buddy.name %></p>
 	  <p><%= booking.user.email %></p>
 	  <p><%= booking.status %></p>
	<% end %>
<% end %>





