<h2>Buddies Booked ✅</h2>

<div class = "cards" >

<% @bookings.each do |booking| %>


   <div class="card-trip">
    <img src=<%= booking.buddy.picture %>>
      <div class="card-trip-infos">
        <div>
         <h2><%= booking.buddy.name%></h2>
          <p><%= booking.buddy.user.email%></p>
          <p><strong><%= booking.price %>$</strong></p>
        </div>
      <%= link_to 'Cancel booking', booking, class: "btn btn-info", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </div>

<% end %>
</div>

  <br>
  <br>
  <br>


<h2>My buddies 👥</h2>
<br>

<div class = "cards" >
  	<% @my_bookings.each do |booking| %>
  <div class="card-trip">
    <img src=<%= booking.picture %>>
      <div class="card-trip-infos">
        <div>
       	  <h2><%= booking.name %></h2>
       	  
        </div>
  </div>

<% end %>
</div>



