<h2>Buddies Booked</h2>

<div class = "cards" >

<% @bookings.each do |booking| %>

   <div class="card-trip">
    <img src=<%= booking.buddy.picture %>>
      <div class="card-trip-infos">

      <p><%= booking.status %></p>
      <%= link_to 'Cancel booking', booking, class: "btn btn-info", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </div>
<% end %>
</div>

  <br>
  <br>
  <br>

  <% if @my_bookings != nil %>

<h2>My buddies</h2>
<br>

<div class = "cards" >
  	<% @my_bookings.each do |booking| %>
  <div class="card-trip">
    <img src=<%= booking.buddy.picture %>>
      <div class="card-trip-infos">
   	  <p><%= booking.buddy.name %></p>
   	  <p><%= booking.user.email %></p>
   	  <p><%= booking.status %></p>
  </div>
  <% end %>
<% end %>
</div>



